* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
}

@font-face {
    font-family: "Death Note";
    src: url("fonts/death-note/Death\ Note.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100vh;
}

h1 {
    font-family: "Death Note", sans-serif;
    text-align: center;
    color: red;
    font-size: 74px;
    margin-block: 84px;
    
}

h2 {
    font-family: "Death Note", sans-serif;
    color: red;
    font-size: 54px;
}

p {
    color: white;
    font-family: "Courier Prime", sans-serif;
    line-height: 1.7;
    text-align: left;
    font-size: 20px;
}

img {
    border-radius: 8px;
}

.introducao, .loira {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 94px;

    img {
        flex: 1;
        width: auto;
        height: 460px;
        object-fit: cover;
    }

    p {
        display: flex;
        align-items: stretch;
        flex: 1;
        max-width: 750px;
    }
}

hr {
    margin-inline: 254px;
    margin-block: 82px;
    border: none;
    height: 1px;
    background-color: white;
    opacity: 0.5;
}

.loira {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}